.cartContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.cartContent > image {
  width: 100%;
  height: 100%;
  text-align: center;
}

.cartTotal {
  text-align: center;
}